body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #9a5d5d;
  color: #ffffff;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.form-section {
  background-color: #7e5f5f;
  padding: 25px 30px;
  border-radius: 12px;
  width: 300px;
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 12px;
  margin-bottom: 5px;
}

form input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #444;
  color: #fff;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #999;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
}

.id-card-preview {
  display: flex;
  align-items: center;
}

.id-card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  background-color: #596372;
  color: white;
  padding: 15px 10px 10px;
  text-align: center;
  border-bottom: 4px solid #a19290f6;
}
.company-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #1f3a5f;
  margin-bottom: 15px;
}

.info {
  margin-top: 15px;
  text-align: left;
  font-size: 0.9em;
}

.card-footer {
  background-color: #596372;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 13px;
 border-bottom: 4px solid #a19290f6;
}
